<!-- @format -->

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <title>データ一覧</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='base-style.css') }}"
        />
    </head>
    <body>
        <h1>{{ title }}</h1>
        <ul class="breadcrumb">
            <li><a href="{{ url_for('index') }}">HOME</a></li>
            <li><a href="{{ url_for('borrow.list') }}">貸出一覧</a></li>
        </ul>

        <a href="{{ url_for('borrow.add') }}">新規貸出追加</a>
        <table>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>メンバー</th>
                    <th>本</th>
                    <th>貸出日</th>
                </tr>
            </thead>
            <tbody>
                {% for borrow in items %}
                <tr>
                    <td>
                        <a href="{{ url_for('borrow.edit', borrow_id=borrow.id) }}"
                            >編集</a
                        >
                    </td>
                    <td>{{ borrow.member.name }}</td>
                    <td>{{ borrow.book.title }}</td>
                    <td>{{ borrow.borrow_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
